S3method("heightDetails", "simple_word_cloud")
export("heightDetails.simple_word_cloud")
S3method("widthDetails", "simple_word_cloud")
export("widthDetails.simple_word_cloud")
export("GO_similarity")
export("binary_cut")
export("cluster_GO")
export("cluster_by_apcluster")
export("cluster_by_dynamicTreeCut")
export("cluster_by_igraph")
export("cluster_by_kmeans")
export("cluster_by_mclust")
export("compare_methods")
export("count_word")
export("dend_node_apply")
export("difference_score")
export("edit_node")
export("guess_ont")
export("ht_GO_clusters")
export("random_GO")
export("simple_word_cloud_grob")
export("simplifyGO")

import(AnnotationDbi)
import(ComplexHeatmap)
import(GO.db)
import(GO.db)
import(GOSemSim)
import(GetoptLong)
import(clue)
import(digest)
import(grid)
import(org.Hs.eg.db)
import(slam)
import(tm)
importFrom("graphics", "box", "plot")
importFrom("methods", "as")
importFrom("methods", "slot")
importFrom("stats", "as.dendrogram", "as.dist", "as.hclust", "dendrapply", "dist", "hclust", "is.leaf", "median")
importFrom("stats", "coef", "lm")
importFrom("stats", "cutree", "ecdf")
importFrom("stats", "kmeans")
importFrom("utils", "getFromNamespace")
importFrom(circlize, "colorRamp2", "rand_color")

