S3method("heightDetails", "word_cloud")
export("heightDetails.word_cloud")
S3method("widthDetails", "word_cloud")
export("widthDetails.word_cloud")
export("GO_similarity")
export("all_clustering_methods")
export("binary_cut")
export("cluster_by_apcluster")
export("cluster_by_dynamicTreeCut")
export("cluster_by_igraph")
export("cluster_by_kmeans")
export("cluster_by_mclust")
export("cluster_terms")
export("compare_methods")
export("compare_methods_make_clusters")
export("compare_methods_make_plot")
export("count_word")
export("dend_node_apply")
export("difference_score")
export("edit_node")
export("guess_ont")
export("ht_clusters")
export("random_GO")
export("register_clustering_methods")
export("remove_clustering_methods")
export("reset_clustering_methods")
export("scale_fontsize")
export("simplifyGO")
export("word_cloud_grob")

import(AnnotationDbi)
import(ComplexHeatmap)
import(GO.db)
import(GOSemSim)
import(GetoptLong)
import(clue)
import(digest)
import(grid)
import(org.Hs.eg.db)
import(slam)
import(tm)
importFrom("grDevices", "dev.interactive")
importFrom("graphics", "box", "plot")
importFrom("graphics", "mtext", "par")
importFrom("graphics", "text")
importFrom("methods", "as")
importFrom("methods", "slot")
importFrom("stats", "as.dendrogram", "as.dist", "as.hclust", "dendrapply", "dist", "hclust", "is.leaf", "median")
importFrom("stats", "coef", "lm")
importFrom("stats", "cutree", "ecdf")
importFrom("stats", "kmeans")
importFrom("stats", "nobs", "order.dendrogram")
importFrom("utils", "getFromNamespace")
importFrom(circlize, "colorRamp2", "rand_color")

